<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.tbk.mapper.AuditMapper">

    <resultMap id="BaseResultMap" type="com.su.tbk.domain.dao.Audit">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="completeTime" column="complete_time" jdbcType="DATE"/>
        <result property="scheme" column="scheme" jdbcType="VARCHAR"/>
        <result property="dataType" column="data_type" jdbcType="OTHER"
                typeHandler="com.su.tbk.core.AuditDataTypeHandler" javaType="com.su.tbk.common.AuditDataType"/>
        <result property="index" column="index" jdbcType="BIGINT"/>
        <result property="operate" column="operate" jdbcType="OTHER"
                typeHandler="com.su.tbk.core.OperateTypeHandler" javaType="com.su.tbk.common.OperationType"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,complete_time,scheme,data_type,
        index,oprate
    </sql>
</mapper>
